# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# JetBrains
.idea/

# Jupyter
.ipynb_checkpoints/

# Build Files
dist/
build/
*.egg-info/

# Logs
*.log

# OS Files
Thumbs.db
.DS_Store